.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list{
    margin: 30px 0 60px 0;
    width: 200px;
    background-color: white;
    box-shadow: 10px 10px 10px ;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}
.list img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.list strong {
    color: slateblue;
    font-size: 20px;
    margin: 10px 0 0 10px;
}
.list p{
    color: rgb(124, 129, 158);
    margin: 10px 0 0 10px;
    width: 120px;
}
.list b{
    color: rgb(60, 61, 66);
    margin: 10px 0 0 10px;
}
.list button {
    width: 100px;
	height: 40px;
	margin: 0 auto;
	border: none;
	background-color: rgb(153, 33, 19);
	color: rgb(223, 211, 203);
	transition: 0.1s;
	border-radius: 10px;
    margin: 10px 0 0 10px;
}