.divModal{
    width: 600px;
    height: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(75, 74, 74);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 32.2%;
    z-index: 20;
    animation: YES ease-in-out 0.2s;
}
@keyframes YES{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modalText{
    text-align: center;
    color: rgb(100, 108, 134);
    font-size: 30px;
}
.deleteModal{
    position: relative;
    bottom: 85px;
    left: 485px;
    color: rgb(64, 78, 78);
    cursor: pointer;
}

.divFalseModal{
    width: 600px;
    height: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(75, 74, 74);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 32.2%;
    z-index: 20;
    animation: NO ease-in-out 0.2s;
}
@keyframes NO{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
